@model IEnumerable<Benaa.Core.Entities.DTOs.ReportDisplyDto>;
@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
<div class="content">
    <div class="users">
        <div class="tabs">
            <div class="tab-body">
                <div class="tab-content active">
                    <div class="content-header">
                        <h2 class="title">البلاغات</h2>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>الرقم</th>
                                <th>المبلغ</th>
                                <th>المبلغ عليه</th>
                                <th>تصنيف البلاغ</th>
                                <th>نوع البلاغ</th>
                                <th>محتوى البلاغ</th>
                                <th>أوامر</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                            }
                            @if(Model.Count() == 0)
                            {
                                <h4>لا يوجد بلاغات</h4>
                            }
                            else
                            {
                                @foreach (var report in Model)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@report.Reporter</td>
                                        <td>@report.ReportedAt</td>
                                        <td>@report.TypeContent</td>
                                        <td>@report.Problem</td>
                                        <td>@report.Description</td>
                                        @if (@report.Type == 0)
                                        {
                                            <td>
                                                <a href="@Url.Action("DeleteCousrse", "Admin", new { courseId =report.CourseId})" type="button" class="btn btn-warning" style="margin-bottom: 6px;">
                                                    حذف المحتوى
                                                </a>
                                                <a href="@Url.Action("DeleteReport", "Admin", new { reportId =report.reportId})" type="button" class="btn btn-danger ">
                                                    الغاء البلاغ
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a href="@Url.Action("DeleteUser", "Admin", new { userId = report.UserId})" type="button" class="btn btn-warning" style="margin-bottom: 6px;">
                                                    حذف المبلغ عليه
                                                </a>
                                                <a href="@Url.Action("DeleteReport", "Admin", new { reportId = report.reportId})" type="button" class="btn btn-danger ">
                                                    الغاء البلاغ
                                                </a>
                                            </td>
                                        }

                                    </tr>
                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>     